.card {
    width: 100%;
    height: 455px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.image {
    position: absolute;
    right: auto 0;
    top: 10px;
    text-align: center;
}

.main-heading {
    text-align: center;
    font-size: 35px;
    color: red !important;
    margin: 5px;
}

.ratings i {
    color: orange
}

.user-ratings h6 {
    margin-top: 2px
}

.colors {
    display: flex;
    margin-top: 2px
}

.colors span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    margin-right: 6px
}

.colors span:nth-child(1) {
    background-color: red
}

.colors span:nth-child(2) {
    background-color: blue
}

.colors span:nth-child(3) {
    background-color: yellow
}

.colors span:nth-child(4) {
    background-color: purple
}

.btn-danger {
    height: 48px;
    font-size: 18px
}